@page "/people/create"

<div class="container sticky-top mt-3">
    <Breadcrumb>
        <BreadcrumbItem>
            <BreadcrumbLink To="/">People</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbItem Active>
            <BreadcrumbLink To="#">Create Person</BreadcrumbLink>
        </BreadcrumbItem>
    </Breadcrumb>
</div>


<Container>
    <Row>
        <Column ColumnSize="ColumnSize.IsFull.OnDesktop">
            <PersonFormComponent Title="Create Person" Options="Options" OnSaved="HandleValidSubmit" OnCancelled="HandleCancelled"></PersonFormComponent>
        </Column>
    </Row>

</Container>
