@page "/people/{PersonId:int}/schools/{SchoolId:int}/edit"
@using ResumePro.App.Components.Schools
@inherits PersonPageBase

@if (School != null)
{
    <div class="container sticky-top mt-3">
        <Breadcrumb>
            <BreadcrumbItem>
                <BreadcrumbLink To="/">People</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <BreadcrumbLink To="@($"/people/{PersonId}")">@Person.LastName, @Person.FirstName</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem Active>
                <BreadcrumbLink To="#">Edit School</BreadcrumbLink>
            </BreadcrumbItem>
        </Breadcrumb>
    </div>

    <Container>
        <Row>
            <Column ColumnSize="ColumnSize.IsFull.OnDesktop">
                <SchoolFormComponent Title="Edit School"
                                     Options="Options"
                                     OnDeleted="HandleDelete"
                                     OnSaved="HandleValidSubmit"
                                     OnCancelled="HandleCancelled">

                </SchoolFormComponent>
            </Column>
        </Row>
    </Container>
}