@page "/"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<Container>
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom">People</Heading>
    
    <div class="mb-3 d-flex justify-content-end">
        <button class="btn btn-primary" @onclick="CreatePerson">Add Person</button>
    </div>
    
    <PersonFiltersComponent PersonFilters="Filters" FiltersChanged="HandleFiltersChanged"></PersonFiltersComponent>

    <PeopleListComponent PersonFilters="@Filters"></PeopleListComponent>

</Container>
