@if (CategorySkills.Any())
{

    <Div>


        @foreach (KeyValuePair<string, Dictionary<string, int>> entry in CategorySkills)
        {
            <Heading Size="HeadingSize.Is5" Margin="Margin.Is2.FromBottom">
                @entry.Key
            </Heading>
            <Fields ColumnSize="ColumnSize.IsFull" Gap="Gap.Is0" Margin="Margin.Is3.FromBottom">
                @foreach (KeyValuePair<string, int> entry2 in entry.Value)
                {

                    <Field ColumnSize="ColumnSize.Is2">
                        <Check TValue="bool"
                               Checked="@SkillCheckStates[entry2.Value]"
                               CheckedChanged="@((val)=>ToggleSelection(val, entry2.Value))">
                            @entry2.Key
                        </Check>
                    </Field>


                }
            </Fields>
        }

    </Div>
}