@using ResumePro.Shared.Models
@if (Person.Languages != null)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Spoken Languages</h5>

            @foreach (PersonaLanguageDto lang in Person.Languages)
            {
                <p class="mb-2">
                    <strong>@lang.LanguageName:</strong>
                    <span>@lang.Proficiency</span>
                </p>
            }

        </div>
    </div>
}