.demo-theme-color-item {
    color: white;
    cursor: pointer;
    display: table-cell;
    height: 36px;
    text-align: center;
    vertical-align: top;
    width: 36px;
}

.demo-theme-color-item .material-icons {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}