@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<Container>
    <Row>
        <Column Float="Float.Default">
            <RemoteAuthenticatorView Action="@Action">
                <LoggingIn>
                    <p>We're logging you in, please wait...</p>
                </LoggingIn>
            </RemoteAuthenticatorView>
        </Column>
    </Row>
   
</Container>
