@using Markdig

@code {

    [Parameter]
    public string Content { get; set; }

    private string RenderMarkdownToHtml(string markdown)
    {
        // Configure the pipeline with advanced extensions if needed
        var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
        return Markdown.ToHtml(markdown, pipeline);
    }
}
<div class="p-3 border rounded shadow-sm">

    <div>@((MarkupString)RenderMarkdownToHtml(Content))</div>
</div>
