<Card>
    <CardHeader>
        <CardTitle><Strong>@Resume.JobTitle</Strong></CardTitle>
    </CardHeader>
    <CardBody>
        <CardSubtitle>
            @Resume.Description
        </CardSubtitle>
        <CardText>
            <UnorderedList>
                <UnorderedListItem><Strong>Jobs:</Strong> @Resume.JobCount </UnorderedListItem>
                <UnorderedListItem><Strong>Skills:</Strong> @Resume.SkillCount </UnorderedListItem>
            </UnorderedList>
        </CardText>
    </CardBody>
    <CardFooter>
        <div class="d-flex justify-content-start">
            <button class="btn btn-outline-primary me-2" @onclick="() => GeneratePdf(Resume.Id)">
                <i class="fa fa-file-pdf"></i>
            </button>
            <button class="btn btn-outline-danger me-2" @onclick="() => DeleteResume(Resume.Id)">
                <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-outline-secondary me-2" @onclick="() => EditResume(Resume.Id)">
                <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-outline-info" @onclick="() => OpenSettings(Resume.Id)">
                <i class="fa fa-cog"></i>
            </button>
        </div>
    </CardFooter>
</Card>