@page "/people/{PersonId:int}/resumes/create"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits PersonPageBase

@if (Person != null)
{
    <div class="container sticky-top mt-3">
        <Breadcrumb>
            <BreadcrumbItem>
                <BreadcrumbLink To="/">People</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <BreadcrumbLink To="@($"/people/{PersonId}")">@Person.LastName, @Person.FirstName</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem Active>
                <BreadcrumbLink To="#">Create Resume</BreadcrumbLink>
            </BreadcrumbItem>
        </Breadcrumb>
    </div>

    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnDesktop">
            <Card Margin="Margin.Is4.FromBottom">
                <CardHeader>
                    <CardTitle>Create Resume</CardTitle>
                </CardHeader>
                <CardBody>
                
                    <ResumeFormComponent OnSaved="HandleValidSubmit" OnCancelled="HandleCancelled" Options="ResumeOptions">

                    </ResumeFormComponent>

                </CardBody>
            </Card>
        </Column>
    </Row>
}
