@page "/people/{PersonId:int}/certifications/create"
@using ResumePro.App.Components.Certifications
@inherits PersonPageBase

@if (Person != null)
{
    <div class="container sticky-top mt-3">
        <Breadcrumb>
            <BreadcrumbItem>
                <BreadcrumbLink To="/">People</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <BreadcrumbLink To="@($"/people/{PersonId}")">@Person.LastName, @Person.FirstName</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem Active>
                <BreadcrumbLink To="#">Create Certification</BreadcrumbLink>
            </BreadcrumbItem>
        </Breadcrumb>
    </div>

    <Container>
        <Row>
            <Column ColumnSize="ColumnSize.IsFull.OnDesktop">
                <CertificationFormComponent
                    @ref="Form"
                    Title="Create Certification"
                                            Options="Options"
                                            OnSaved="HandleValidSubmit"
                                            OnCancelled="HandleCancelled">

                </CertificationFormComponent>
            </Column>
        </Row>
    </Container>
}