<div style="height: 100%">
    <iframe src="@PdfUrl">
        If you're seeing this message, PDF viewing is not supported in your browser. You might want to download the PDF from <a href="@PdfUrl">here</a>.
    </iframe>

</div>