@inherits PersonPageBase
@page "/people/{PersonId:int}/resumes/{ResumeId:int}/pdf"

<iframe src="@PdfUrl" width="100%" height="600px" style="border:none;">
    If you're seeing this message, PDF viewing is not supported in your browser. You might want to download the PDF from <a href="@PdfUrl">here</a>.
</iframe>
